OPENROUTER_API_KEY=sk-or-...
QDRANT_URL=https://xxxx-xxxx-xxxx.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIs...
# QDRANT_PATH=./qdrant_db          # uncomment for local Qdrant
OPENROUTER_SITE_URL=https://prashan.co.in
OPENROUTER_SITE_NAME=Prashan